.section {
  margin-top: 120px;
}

.heading {
  color: var(--color-gray);
}

.description {
  margin-top: 40px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.statsContainer {
  margin-top: 24px;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

.statCard {
  width: 290px;
  height: 100px;
  padding: 1px;
  border-radius: 12px;
}

.statCardGradientLeft {
  background: linear-gradient(to right, var(--color-purple), white);
}

.statCardGradientRight {
  background: linear-gradient(to left, var(--color-purple), white);
}

.statCardInner {
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.statTitle {
  color: var(--color-purple);
  margin-top: 4px;
}

.statDescription {
  text-align: center;
  margin-top: 4px;
}

@media (max-width: 768px) {
  .section {
    margin-top: 60px;
  }

  .description {
    width: 100%;
    padding: 0 16px;
  }

  .statsContainer {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    gap: 12px;
  }

  .statCard {
    width: calc(50% - 6px);
    max-width: none;
    min-width: 0;
  }
}
