.container {
  max-width: 800px;
  width: 100%;
}

.questionsContainer {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.questionBlock {
  background-color: var(--color-dark-purple);
  padding: 4px 8px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }

  .inputWrapper {
    height: 48px;
  }

  .questionsContainer {
    flex-direction: column;
    gap: 8px;
    margin-top: 12px;
  }

  .questionBlock {
    font-size: 14px;
    width: 100%;
  }
}
