.section {
  margin-top: 120px;
}

.heading {
  color: var(--color-gray);
}

.contactsContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactsContent {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}

.contactsContent::before {
  content: '';
  position: absolute;
  left: -240px;
  top: 50px;
  width: 40px;
  height: calc(100% - 120px);
  background-image: url(/contact-border.svg);
  background-repeat: no-repeat;
  background-position: center;
  pointer-events: none;
}

.contactsContent::after {
  content: '';
  position: absolute;
  right: -240px;
  top: 50px;
  width: 40px;
  height: calc(100% - 120px);
  background-image: url(/contact-border.svg);
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
  pointer-events: none;
}

.contactItem {
  margin-bottom: 28px;
  cursor: pointer;
  transition:
    background 0.1s ease,
    -webkit-background-clip 0.1s ease,
    -webkit-text-fill-color 0.1s ease,
    background-clip 0.1s ease;
  text-align: left;
  color: white;
  display: inline-block;
}

.contactItem:last-of-type {
  margin-bottom: 0;
}

.socialContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.socialLink {
  cursor: pointer;
  transition:
    background 0.1s ease,
    -webkit-background-clip 0.1s ease,
    -webkit-text-fill-color 0.1s ease,
    background-clip 0.1s ease;
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  text-transform: uppercase;
}

.socialLinkIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.locationContainer {
  margin-top: 28px;
  margin-bottom: 12px;
  transition:
    background 0.1s ease,
    -webkit-background-clip 0.1s ease,
    -webkit-text-fill-color 0.1s ease,
    background-clip 0.1s ease;
  text-align: left;
  color: white;
  display: inline-block;
}

.locationLink {
  cursor: pointer;
  margin-top: 12px;
}
