.footer {
  padding: 40px 0;
}

.footerContent {
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  color: var(--color-gray);
}

@media (max-width: 768px) {
  .footer {
    padding: 24px 0;
  }

  .footerContent {
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
}
