.background {
  left: 50%;
  transform: translateX(-50%);
  width: var(--max-width);
  height: 697px;
  background-image: url(/bg-hero.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
}

.contentContainer {
  width: var(--max-width);
  height: 697px;
  justify-content: space-between;
}

.frontendBlock {
  margin-top: 200px;
}

.developerBlock {
  margin-top: 350px;
}

.headingPurple {
  color: var(--color-purple);
}

.photoContainer {
  width: 417px;
  height: 532px;
  top: 36px;
  left: 396px;
  opacity: 1;
}

.chatAssistantContainer {
  top: 568px; /* 36px (photo top) + 532px (photo height) */
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .background {
    width: 100%;
    height: auto;
    min-height: 500px;
    background-size: cover;
    background-position: center;
  }

  .contentContainer {
    width: 100%;
    height: auto;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    padding: 20px 16px;
    position: relative;
  }

  .frontendBlock {
    margin-top: 0;
    position: static;
    width: 100%;
    text-align: left;
  }

  .developerBlock {
    margin-top: 24px;
    position: static;
    width: 100%;
    text-align: right;
  }

  .photoContainer {
    position: relative;
    width: 100%;
    max-width: 280px;
    height: auto;
    aspect-ratio: 417 / 532;
    top: 0;
    left: 0;
    margin: -30px;
  }

  .chatAssistantContainer {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    margin-top: 20px;
    width: 100%;
  }
}
