@import 'tailwindcss';

:root {
  --background: #262323;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-pixeloid: var(--font-pixeloid-sans);
  --font-hack: var(--font-hack);

  /* Color Palette - доступны как bg-dark, text-purple и т.д. */
  --color-dark: #262323;
  --color-white: #ffffff;
  --color-light-gray: #d7d9e0;
  --color-purple: #aa56a8;
  --color-purple-dark: #964294;
  --color-dark-purple: #4e324b;
  --color-pink: #d32f73;
  --color-green: #00a67d;
  --color-red: #df2b4a;
  --color-gray: #b2b1b1;

  /* Layout */
  --max-width: 1208px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262323;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-hack), monospace;
}

/* Заголовки - Pixeloid Sans */
.heading {
  font-family: var(--font-pixeloid-sans), Arial, sans-serif;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

/* Заголовки секций - Pixeloid Sans */
.section-heading {
  font-family: var(--font-pixeloid-sans), Arial, sans-serif;
  font-weight: 700;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .heading {
    font-size: 36px;
    line-height: 40px;
  }

  .section-heading {
    font-size: 32px;
    line-height: 40px;
    padding: 0 16px;
  }

  .text-body {
    font-size: 14px;
    line-height: 20px;
  }
}

/* Обычный текст - Hack */
.text-body {
  font-family: var(--font-hack), monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

/* Заголовки у карточек - Hack Bold */
.card-heading {
  font-family: var(--font-hack), monospace;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  text-align: center;
}

/* Текст для контактов - Hack */
.contact-text {
  font-family: var(--font-hack), monospace;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

/* Заголовок плашки опыта работы - Hack Bold */
.experience-title {
  font-family: var(--font-hack), monospace;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

/* Описание в плашке опыта - Hack */
.experience-description {
  font-family: var(--font-hack), monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
}

/* Текст футера - Hack */
.footer-text {
  font-family: var(--font-hack), monospace;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: right;
}
