.main {
  width: 100%;
  max-width: var(--max-width);
  margin-left: auto;
  margin-right: auto;
  padding-top: 108px;
  padding-bottom: 64px;
}

@media (max-width: 768px) {
  .main {
    padding-top: 80px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
